node_modules

# Ignore real env files
.env
.env.local
.env.test
.env.docker

# Keep example env templates in git
!.env.example
!.env.test.example
!.env.docker.example
!.env.local.example

/generated/prisma
